  <li class="dropdown" data-admin-menu-de-walnut>
        <a href="#">
            Admin
            <span class="glyphicon glyphicon-chevron-down"></span>
        </a>
        <ul class="dropdown-menu" role="menu"> @*las clases bootstrap hacen que esto sea un menu*@
            <li class="dropdown-header">Admin Areas</li>
            <li><a href="/AdminEntities/Index">&nbsp;&nbsp;Entities CRUD</a></li>
            <li><a href="/WorkflowEntities/Index">&nbsp;&nbsp;Workflow</a></li>
            <li><a href="/DashboardsUI/Index">&nbsp;&nbsp;Dashboards UI</a></li>
            <li><a href="/SkillsAdmin/Index">&nbsp;&nbsp;Skills Admin</a></li>
            <li><a href="/Integration/Index">&nbsp;&nbsp;Integration Admin</a></li>
            <li class="divider" />
            <li class="dropdown-header">Role Dashboards</li>
            <li><a href="/Dashboards/Candidate">&nbsp;&nbsp;Candidate</a></li>
            <li><a href="/Dashboards/Recruiter">&nbsp;&nbsp;Recruiter</a></li>
            <li><a href="/Dashboards/Interviewer">&nbsp;&nbsp;Interviewer</a></li>
            <li><a href="/Dashboards/WokrFlowMaster">&nbsp;&nbsp;Wokrflow Master</a></li>
            <li><a href="/Dashboards/WokrFlowMaster">&nbsp;&nbsp;Workflow Worker</a></li>
            <li><a href="/Dashboards/WebMaster">&nbsp;&nbsp;Web Master</a></li>
            <li><a href="/Dashboards/DBA">&nbsp;&nbsp;DB Admin</a></li>
            <li><a href="/Dashboards/SoftwareDev">&nbsp;&nbsp;Software Developer</a></li>
            <li><a href="/Dashboards/ServiceProv">&nbsp;&nbsp;Service Provider</a></li>
        </ul>
    </li>


