@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
    <h1>WALNUT UNLIMITED</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>*@

<div class="row">
    <div class="col-md-4">
        <h3>Integration Admin Area</h3>
        <br />
        <h4>Manjor Entities</h4>
        <p>
            <br />
            <a href="/Admin/CompanyAPI">Company API</a>
            <br />
            <a href="/Admin/CompanyAPICommand">Company API Command</a>
            <br />
            <a href="/Admin/CompanyAPIcommandMAP">Company API Command MAP</a>
            <br />
            </p>
        <br />
        @*<h4>MInor Entities</h4>
        <p>
            <a href="/Admin/EntityFlag">Entity Flag</a>
            <br />
            <a href="/Admin/EntityFlagEntity">Entity Flag-Entity Relationship</a>
            <br />
            <a href="/Admin/ProcessType">Process Type</a>
            <br />
            <a href="/Admin/TaskType">Task Type</a>
            <br />
            <a href="/Admin/Periodicity">Periodicity</a>
        </p>*@
     </div>
</div>