@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
    <h1>IT PATHFINDER</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>*@

<div class="row">
    <div class="col-md-4">
        <h3>Admin Entities Area</h3>
        <br />
        <h4>Manjor Entities</h4>
        <p>
            <a href="/Admin/Candidate">Candidate</a>
            <br />
            <a href="/Admin/Company">Company</a>
            <br />
            <a href="/Admin/CandidateFile">Candidate File</a>
            <br />
            <a href="/Admin/CompanyContact">Company Contact</a>
            <br />
            <a href="/Admin/Article">Article</a>
            <br />
            <a href="/Admin/Interview">Interview</a>
            </p>
        <br />
        <h4>MInor Entities</h4>
        <p>
            <a href="/Admin/Gender">Gender</a>
            <br />
            <a href="/Admin/WorkType">Work Type</a>
            <br />
            <a href="/Admin/ArticleType">Article Type</a>
            <br />
            <a href="/Admin/CandidateFileType">Candidate File Type</a>
            <br />
            <a href="/Admin/CompanyTYpe">Company Type</a>
            <br />
            <a href="/Admin/CompanyContactRole">Company Contact Role</a>
            <br />
            <a href="/Admin/CompanyDepartment">Company Department</a>
            <br />
            <a href="/Admin/RelationshipType">Relationship Type</a>
            <br />
        </p>
     </div>
</div>